table tr,th{
    width: 200px;
    max-width: 200px;
    height:130px;
    text-overflow: ellipsis;
    font-family: "Courier new", monospace;
    font-weight: bold;
    font-size: 120%;
    text-align: center;
    

}



body{

    background: azure;
    


}

table{
    margin-right: 50px;
    float: left;

}


table span {
    display:block;
    background-color: #1e90ff;
    border: 1px solid black;
    color: fff;
    word-wrap:break-word;
    height: 40px;
    max-width: 200px;
    width: 100%;
    margin-left: auto;

}

div.buttons{

    border: 10px solid #1e90ff;
    width: 200px;
    max-width: 200px;
    font-family: "Courier new", monospace;
    float: right;
    text-align: center;


}

table td{
    
   font-family: "Courier new", monospace;
   font-size: 100%;
    
    
}

li{

    display: block;
    padding: 0.75em 1em;

}
